.list-mess-wrapper {
  .list-mess-row1 {
    .mess__username {
      margin-right: 200px;
    }
    .mess__edit {
      border: none;
      background: #000;
      font-size: 33px;
    }
  }
}
