.message-wrapper {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  .message-left {
  }
  .message-right {
    display: flex;
    flex-direction: column;
  }
}
