.message-wrapper {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .message-left {
    flex: 0.3;
  }
  .message-right {
    // margin: 400px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: center;
    align-items: center;
    // font-size: 20px;
    .message__icon {
      font-size: 40px;
    }
  }
}
