.window-chat-wrapper {
  margin: -860px 0 0 -220px;
  width: 2000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .window-chat__left {
    display: flex;
    align-items: center;
  }
  .window-chat__right {
  }
}
