.reels-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  .reel-emotion {
    display: flex;
    flex-direction: column;
    span {
    }
  }
}
