.reels-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  .reels-video {
    .video {
      width: 400px;
      height: 640px;
    }
  }
  .reel-emotion {
    display: flex;
    flex-direction: column;
    span {
    }
  }
}
