@import "../../Base.scss";

.timeline {
  display: flex;
  flex-direction: row;
  .timeline__left {
    flex: 0.7;
    .timeline__posts {
      margin-left: 5px;
    }
  }
  .timeline__right {
    flex: 0.3;
    margin: 20px 240px 0 0;
  }
}

@media (max-width: $breakpoint-small) {
  .timeline {
    .timeline__left {
      .timeline__stories {
        margin-left: 63px;
        .timeline__storyUser {
          margin-right: -20px;
        }
      }
      .timeline__posts {
        .post {
          margin-left: 120px;
          width: 340px;
        }
      }
    }
    .timeline__right {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .timeline {
    .timeline__left {
      .timeline__stories {
        margin-left: 43px;
        .timeline__storyUser {
          margin-right: -20px;
        }
      }
      .timeline__posts {
        .post {
          margin-left: 120px;
          width: 440px;
        }
      }
    }
    .timeline__right {
      display: none;
    }
  }
}
