.timeline {
  display: flex;
  flex-direction: row;
  .timeline__left {
    flex: 0.7;
    .timeline__stories {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 46px;
      .timeline__storyUser {
        margin-right: 10px;
        .storyAvatar {
          border-style: solid;
          border-color: rgb(250, 194, 0) rgb(254, 102, 17) rgb(252, 59, 53)
            rgb(253, 1, 107) rgb(215, 0, 189);
        }
        .storyUserName {
          margin-left: 5px;
        }
      }
    }
    .timeline__posts {
      margin-left: 5px;
    }
  }
  .timeline__right {
    flex: 0.3;
  }
}
