@import "../../Base.scss";

.timeline {
  display: flex;
  flex-direction: row;
  .timeline__left {
    flex: 0.7;
    .timeline__posts {
      margin-left: 5px;
    }
  }
  .timeline__right {
    flex: 0.3;
    margin: 20px 240px 0 0;
  }
}

// @media (max-width: $breakpoint-small) {
//   .timeline {
//     .timeline__left {
//       margin-left: 14px;
//       .timeline__stories {
//         margin-left: 63px;
//         .timeline__storyUser {
//           margin-right: -20px;
//         }
//       }
//       .timeline__posts {
//         .posts {
//           margin-left: 120px;
//           width: 340px;
//         }
//       }
//     }
//     .timeline__right {
//       display: none;
//     }
//   }
// }

@media (max-width: $breakpoint-medium) {
  .timeline {
    .timeline__left {
      .timeline__stories {
        margin-left: 47px;
        .timeline__storyUser {
          margin-right: -20px;
        }
      }
      .timeline__posts {
        .post {
          margin-left: 95px;
          width: 340px;
        }
      }
    }
    .timeline__right {
      display: none;
    }
  }
}

// Media query for MacBook-sized screens
@media (max-width: 2440px) {
  .timeline {
    .timeline__left {
      width: 800px;
      margin-left: 200px;
      .timeline__stories {
        margin-left: 47px;
        .timeline__storyUser {
          margin-right: -20px;
        }
      }
      .timeline__posts {
        .post {
          margin-left: 110px;
          width: 540px;
        }
      }
    }
    .timeline__right {
      margin-left: 100px;
    }
  }
}

// @media (max-width: $breakpoint-large) {
//   .timeline {
//     .timeline__left {
//       margin-left: 200px;
//       .timeline__stories {
//         margin-left: 43px;
//         .timeline__storyUser {
//           margin-right: -20px;
//         }
//       }
//       .timeline__posts {
//         .post {
//           margin-left: 95px;
//           width: 440px;
//         }
//       }
//     }
//     .timeline__right {
//       margin-left: 150px;
//     }
//   }
// }
