.explore-wrapper {
  background-color: #000;
  color: #fff;
  display: flex;
  // // flex-direction: column;
  // // justify-content: center;
  // display: grid;
  // grid-template-columns: 0px 520px 1000px;
  height: 100%;
  position: relative;
  .explore-left {
    // flex: 0.3;
  }
  .explore-mid {
    padding-left: 119px;
    flex: 1;
    overflow-y: auto;
  }
  .explore-right {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 70%;
    .explore-img-wrapper {
      display: flex;
      // flex-direction: column;
      .explore-img__row {
        .image-container {
          position: relative;

          img {
            width: 380px;
            height: 450px;
            margin-bottom: 10px;
            object-fit: cover;
            margin-left: 10px;
            &:hover {
              opacity: 0.7;
            }
          }

          .image-overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(
              0,
              0,
              0,
              0.5
            ); // A semi-transparent black background
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .image-icon {
            margin: 5px;
            color: white; // Icon color
          }

          &:hover .image-overlay {
            display: flex;
          }
        }
      }
    }
  }
}
