.explore-wrapper {
  background-color: #000;
  color: #fff;
  display: flex;
  // // flex-direction: column;
  // // justify-content: center;
  // display: grid;
  // grid-template-columns: 0px 520px 1000px;
  height: 100%;
  position: relative;
  .explore-left {
    // flex: 0.3;
  }
  .explore-mid {
    padding-left: 119px;
    flex: 1;
    overflow-y: auto;
  }
  .explore-right {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 75%;
    .explore-img-wrapper {
      display: flex;
      // flex-direction: column;
      .explore-img__row {
        img {
          width: 380px;
          height: 450px;
          margin-bottom: 20px;
          object-fit: cover;
          margin-left: 20px;
          &:hover {
            opacity: 0.6;
            cursor: pointer;
          }
        }
      }
    }
  }
}
