.explore-wrapper {
  background-color: #000;
  color: #fff;
  display: flex;
  // // flex-direction: column;
  // // justify-content: center;
  // display: grid;
  // grid-template-columns: 0px 520px 1000px;
  height: 100%;
  position: relative;
  .explore-left {
    // flex: 0.3;
  }
  .explore-mid {
    padding-left: 119px;
    flex: 1;
    overflow-y: auto;
  }
  .explore-right {
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 50%;

    .img-container {
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
      position: relative;
      opacity: 0;
      /* Initially hide the buttons */
      //   .like-button,
      //   .comment-button {
      //     display: none;
      //     position: absolute;
      //     color: red;
      //     top: 50%;
      //     left: 50%;
      //     transform: translate(-50%, -50%);
      //     // background-color: rgba(255, 255, 255, 0.7);
      //     padding: 10px;
      //     border-radius: 5px;
      //   }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
        /* Show the buttons when hovering */
        // .like-button,
        // .comment-button {
        //   display: block;
        // }
      }
    }
  }
}
