.search-wrapper {
  background-color: #000;
  height: 100vh;
  width: 400px;
  z-index: 20;
  position: absolute;
  margin-left: 245px;
  // transform: translateX(100%);
  // transition: transform 0.3s ease-out;
  transition: 0.8s ease-out;
  border-right: 1px solid #262626;
  .search-title {
    margin-top: 20px;
    span {
      padding: 16px;
      font-weight: 600;
      font-size: 26px;
    }
    margin-bottom: 20px;
  }
  .search-input-wrapper {
    border-radius: 8px;
    background-color: #262626;
    margin: 30px 12px;
    .search-input {
      border-radius: 8px;
      background-color: #262626;
      width: 100%;
      border: none;
      color: #a7a7a7;
      padding: 10px;
    }
  }
  .search-desc {
    margin: 0 12px;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    .search-desc__clear {
      color: #1877f2;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }
  .search-users {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 70px;
    .search-user__avt {
      margin-left: 10px;
    }
    .search-user__info {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
    }
    .search-user__close {
      margin-left: 220px;
      color: #ccc;
    }
    &:hover {
      background-color: #1a1a1a;
    }
  }
}
