.search-wrapper {
  background-color: red;
  height: 100vh;
  width: 350px;
  z-index: 20;
  position: absolute;
  margin-left: 186px;
  .search-title {
    span {
      font-weight: 600;
      font-size: 20px;
    }
    margin-bottom: 20px;
  }
  .search-input-wrapper {
    background-color: #ccc;
    border-radius: 6px;
    .search-input {
      width: 100%;
    }
  }
}
